@page
@model EMS.Razor.Pages.AddEmployeeModel
@{

}

    <h1>Add Employee</h1>

    <form method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="@Model.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="@Model.Email" class="form-control" />
        </div>
        <div class="form-group">
        <label for="dateofbirth">Date of Birth:</label>
        <input type="date" id="dateofbirth" name="dateofbirth" value="@Model.employee.DateOfBirth" class="form-control" placeholder="dd-mm-yyyy" />
    </div>
        <div class="form-group">
            <label for="department">Department:</label>
        <select id="department" name="department" class="form-control">
                @foreach (var department in Model.departments)
                {
                    <option value="@department" >@department</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/Index" class="btn btn-secondary">Cancel</a>
    </form>
